<div class="card-info-container">
  <div class="card-lg d-flex justify-content-between mt-5">

    <div class="card-left">

      <div class="card-top d-flex justify-content-between align-items-center">
        <h2 class="card-title text-logo"><strong><%= @cocktail.name.capitalize %></strong></h2>
        <%= link_to cocktail_path(@cocktail), method: :delete,
            data: { confirm: "Are you sure, you want to delete this cocktail recipe?"}, class: "card-icon ml-5" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
      <div class="card-info card-shadow flex-column">
        <div>
          <h4><strong>Ingredient:</strong></h4>
          <ul>
            <% @cocktail.doses.each do |dose| %>
              <li class="card-list d-flex justify-content-between">
                <%= "#{dose.ingredient.name}: #{dose.description}" %>
                <%= link_to dose_path(dose), method: :delete,
                    data: { confirm: "Are you sure, you want to remove this ingredient?"}, class: "card-icon ml-5" do %>
                  <i class="fas fa-backspace"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
          <div class="">
            <%= link_to new_cocktail_dose_path(@cocktail), class: "card-icon btn-black" do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <div class="card-right">
      <%= cl_image_tag @cocktail.photo.key, width: 360, height: 240, crop: :fill, class: "card-shadow" %>
    </div>

  </div>
</div>
