<div class="container-form my-3 p-5">
  <h2 class="mb-3">Add Ingredient to <%= @cocktail.name %></h2 class="mb-3">

  <div>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit, class: "btn-black mt-3" %>
    <% end %>
  </div>
</div>
