<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="head" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
                             url('<%= cl_image_path "dt8f4v982wyxdzkn89fy", :crop => :fill %>');">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon transparent">
        <span>
          <%= link_to "C", cocktails_path, class: "icon" %>
          <%= link_to "The Cocotail Party", cocktails_path, id: "title" %>
        </span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Add New", new_cocktail_path, class: "btn-flat" %>
            </li>
          </ul>
        </div>
      </div>

      <div class="banner">
        <div class="container">
          <h1>The cocktail party</h1>
          <p>Enjoy life when we can</p>
        </div>
      </div>
    </div>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
